.parent {
  position: relative;
  top: 0;
  left: 0;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.line {
  position: absolute;
  left: 80%;
  top: 0;
}

.notGrey {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.a {
  position: absolute;
  top: 22%;
  left: -2%;
}

.s {
  position: absolute;
  top: 6%;
  left: 7%;
}

.d {
  position: absolute;
  top: -1%;
  left: 21%;
}

.f {
  position: absolute;
  top: 8%;
  left: 34%;
}

.j {
  position: absolute;
  top: 9%;
  left: 60%;
}

.k {
  position: absolute;
  top: 0%;
  left: 29%;
}

.l {
  position: absolute;
  top: 9%;
  left: 35%;
}

.semicolon {
  position: absolute;
  top: 23%;
  left: 39%;
}
